@import '~$styles/constants.less';

.report-editor {
  display: flex;

  .report-canvas-container {
    position: relative;
    width: calc(~'100vw - ' @sidebar-width);
    height: calc(~'100vh - ' @header-height - @toolbar-height);
    min-width: @app-min-width - @sidebar-width;
    background-color: white !important;
  }
}
